/* || PAGE FORMATTING || */
html, body{
    width: 100% !important;
    height: 100% !important;
    padding:0;
    position: relative;
}

/* || ROW PADDING FOR GRID || */
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Padding for work boxes on home page */
.work-row, #first-row{
    padding-top: 0;
    padding-bottom: 0;
}

/* || NAVIGATION BAR || */
/* Nav Bar Background*/
.navbar{
    background-color: #2F2F2F;
}

/* Name in Nav Bar */
.navbar-brand{
    font: normal 36px/47px "DM Sans";
    color: #638898;
}

/* Hovering on name in Nav Bar */
.navbar-brand:hover{
    color: #FE938C;
}

/* Alignment in Nav Bar */
.navbar-nav{
    align-content: flex-end;
}

/* Hamburger Menu- remove focus outline */
/* Source: https://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
nav .navbar-toggler:focus, .navbar-toggler-icon:focus{
    outline: none;
}

/* Nav Bar Text*/
.nav-item{
    font: normal 24px/31px "DM Sans";
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

/* Hover over Nav Bar Items */
.nav-item:hover{
    color: #FE938C;
}

/* Active Page */
.active{
    color: #D5AC4E;
}

/* || HOME PAGE CONTENT || */
/* Introduction Information*/
/*Source: https://forum.freecodecamp.org/t/solved-why-is-my-navbar-covering-next-section-container/97897 */
.intro{
    padding-top: 86px;
    text-align: left;
    font: normal 48px/62px "DM Sans";
    color: #FE938C;
    height: auto;
    width: 100%;
}

.intro-text{
    margin: auto;
}

#lia-cartoon{
    margin: auto;
}

/* Adjust height of cartoon on screens smaller than 786px (medium screen) */
@media (max-width: 768px){
    #lia-cartoon{
        height: 300px;
        width: auto;
    }
    .work-col{
        border: 1px solid #2F2F2F;
    }
}

/* || PROJECTS SECTION || */
/* Project text */
#projects{
    font: normal 36px/47px "DM Sans";
    color: #D5AC4E;
    text-align: center;
}

/* Project Boxes */
.work-col{
    background-color: #638898;
    width: auto;
    height: 324px;
}

/* Formatting for lines on project boxes */
.left{
    border-right: 1px solid #2F2F2F;
}

.right{
    border-left: 1px solid #2F2F2F;
}

.bottom{
    border-bottom: 1px solid #2F2F2F;
}

.top{
    border-top: 1px solid #2F2F2F;
}

/* Hover over Project Boxes */
/* Background of project box changes color */
/* Source for transition: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
.work-col:hover{
    background-color: #D5AC4E;
    transition: 0.1s;
}

/* Hover over box displays project text */
/* Source: https://stackoverflow.com/questions/5061940/changing-the-child-elements-css-when-the-parent-is-hovered */
.work-col:hover .work-text {
    display: block;
    transition: 0.3s;
}

/* Hover over box blurs background image
/* Source: https://www.codeblocq.com/2016/05/Blur-Image-on-Hover-with-CSS/ */
.work-col:hover .work-image{
    filter: blur(2px);
    transition: 0.3s;
}

/* Images in Project Boxes position */
.work-image{
    display: block;
    margin: auto;
    top: 86px;
    max-width: 100%;
    height: auto;
}

/* Text in Project Boxes */
/* Source: https://www.w3schools.com/css/css_align.asp */
.work-text{
    font: normal 36px/47px "DM Sans";
    color: #2F2F2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 345px;
    height: auto;
    display: none;
}

/* Hovering over Text in Project Boxes */
.work-text:hover{
    opacity: 1;
}

/* White text in Project Boxes */
.white{
    color: #FFFFFF;
}

/* || FOOTER || */
/* Position of items in footer */
.footer{
    background-color: #D5AC4E;
    border-color: #D5AC4E;
    position: relative;
    display: block;
    margin: auto;
    height: 60px;
}

/* Footer row size */
.footer-row{
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #D5AC4E;
}

/* Text in footer */
.footer-text{
    font: normal 18px/28px "DM Sans";
    color: #2F2F2F;
    display: block;
    text-align: center;
    height: auto;
    width: 100%;
}

/* Active page to white text */
.active-footer{
    color: #FFFFFF;
}

/* Hover over text turns white */
.footer-text:hover{
    color: #FFFFFF;
    text-decoration: none;
}

/* Footer margins */
.footer-margin{
    background-color: #D5AC4E;
}