/* || PROJECT PAGES || */

/* || BODY TEXT || */
.text {
    font: normal 18px/27px "Poppins";
    color: #2F2F2F;
}

/* For any items that need to be centered */
.center{
    text-align: center;
}

/* Setting the height of a row */
.space {
    height: 65px;
}

/* Section Line */
hr.solid {
    border-top: 2px solid #D5AC4E;
    width: 75%;
}

/* Page Title */
.page-title{
    font: normal 72px/94px "DM Sans";
    color: #D5AC4E;
    text-align: center;
    padding-top: 86px;
}

@media (max-width: 375px){
    .page-title{
        font: normal 48px/54px "DM Sans";
    }
}

/* || OVERVIEW SECTION || */
/* Text in Overview Section */
.overview-subtitle{
    font: bold 18px/24px "DM Sans";
    color: #638898;
}

/* Link formatting in Overview Section */
.overview-link{
    color: #FE938C;
    text-decoration: underline;
}

.overview-link:hover{
    color: #D5AC4E;
}

/* || PROBLEM AND SOLUTION SECTION || */
/* Titles in Sections */
.project-title{
    font: bold 32px/42px "DM Sans";
    color: #2F2F2F;
}

/* Problem Question text */
.problem-question{
    font: bold 32px/42px "DM Sans";
    color: #FE938C;
}

/* Subtitle for Sections */
.project-subtitle{
    font: bold 24px/32px "DM Sans";
    color: #2F2F2F;
}

/* Project images */
.work-page-img {
    width: 100%;
    height: auto;
    border: 2px solid #2F2F2F;
}

/* Prototype images for Community on the Go */
.prototype-img {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

/* || FOOTER || */
.active-footer{
    color: #FFFFFF;
}